@page "/sale"
@using EBikeLibrary.ViewModels
@using EBikeApp.Components.Layout

<PageTitle>Sale Checkout</PageTitle>

<h3>SaleCheckout</h3>

<header>Sales</header>

<body>
    <div>
        <InputSelect @onclick="LookupCat" @bind-Value="categoryid" style="width: 140px;">
            <option value="0">select...</option>
            @foreach(var cat in CategoryList)
            {
                <option value="@cat.CategoryID">@cat.Description</option>
            }
        </InputSelect>

        <InputSelect @onclick="LookupPart" @bind-Value="partid" style="width: 140px;">
            <option value="0">select...</option>
            @foreach (var par in PartList)
            {
                <option value="@par.PartID">@par.Description</option>
            }
        </InputSelect>

        <input type="number" @bind-value="partQuantity" style="width: 40px;" />
   
        <button class="btn btn-success" @onclick="Add">Add</button>
    </div>
    <div>
        <TableTemplate Items="saleDetails" Context="SaleDetailView">
            <TableHeader>
                <th>Item</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Total</th>
            </TableHeader>
            <RowTemplate>
                <td>@SaleDetailView.Description</td>
                <td>
                    <button class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>    
                     </button>
                     <input type="number" style="width: 40px;" @bind-value="partQuantity"/>
                    <button class="btn" @onclick="Add">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                        <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41m-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9"/>
                        <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5 5 0 0 0 8 3M3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z"/>
                        </svg>
                    </button>
                </td>
                <td>@SaleDetailView.SellingPrice</td>
                <td>@(SaleDetailView.SellingPrice*@SaleDetailView.Quantity)</td>
            </RowTemplate>
        </TableTemplate>
    </div>
    <div>
        <div>
            <button class="btn btn-success" @onclick="Checkout">CheckOut</button>
            <p> Sale Invoice #</p>
            <fieldset @bind="payment">
                <div>
                    <input type="radio" id="cash" name="paymentType" value="cash" />
                    <label for="cash">Cash</label>
                </div>
                <div>
                    <input type="radio" id="credit" name="paymentType" value="credit" />
                    <label for="credit">Credit</label>
                </div>
                <div>
                    <input type="radio" id="debit" name="paymentType" value="debit" />
                    <label for="debit">Debit</label>
                </div>
            </fieldset>


        </div>
        <div>
            <InputText @bind-Value="couponCode" style="width: 140px;"></InputText>
            <button @onclick="VerifyCoupon" class="btn btn-light">Verify</button>
            <p>@couponDiscount%</p>
            <button @onclick="Clear" class="btn btn-light">Clear Cart</button>

            <p></p>
        </div>
        <div>
            <p>
                Subtotal - 
                @subTotal
            </p>
            <p>
                Tax - 
                @tax
            </p>
            <p>
                Discount - 
                @discount
            </p>
            <p>
                Total - @total
            </p>
        </div>
    </div>
</body>


